<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :place %><br>
    <%= f.select :place, [['please select place'],['national museum of ireland archaeology'], ['phoenix park dublin'], ['national botanic gardens dublin'],
    ['dublin castle on rock'],['kilmainham gaol']]%>
   </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.hidden_field :cost %>
  </div>
  <div class="field">
    <%= f.hidden_field :description %>
  </div>
  
 <div class="field">Audio Tour Guide:
  <%= check_box_tag'tour[audio]','audio'%>
  </div>

  <div class="field">Lunch:
  <%= check_box_tag'tour[lunch]','lunch'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
