<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @guide.place %>
</p>

<p>
  <strong>Date:</strong>
  <%= @guide.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @guide.time %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @guide.cost %>
</p>


<!-- Display the post of a guide -->
<h5>Posts</h5>
<% @guide.posts.each do |p| %>
<p>
<b>Message:</b>
<%= p.post_message %>
</p>
<% end %>
<%= link_to 'Show posts', guide_posts_path(@guide) %>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
